/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.isHit {
  padding: 10px;
  font-size: 24px;
  background-color: #000;
  color: #fff;
}

.isMissed {
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
  color: #000;
}

.c-gameboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-gameboard__item {
  width: 400px;
  height: 400px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-gameboard__item--user {
  background-color: aquamarine;
}

.c-gameboard__item--computer {
  background-color: orange;
}

.c-gameboard__item div {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.c-display {
  width: 400px;
  height: 400px;
  background-color: greenyellow;
}

.c-display--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-display__ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.c-display__ship--destroyer {
  width: 80px;
  height: 40px;
  background-color: antiquewhite;
}

.c-display__ship--submarine {
  width: 120px;
  height: 40px;
  background-color: red;
}

.c-display__ship--cruiser {
  width: 120px;
  height: 40px;
  background-color: yellow;
}

.c-display__ship--battleship {
  width: 160px;
  height: 40px;
  background-color: pink;
}

.c-display__ship--carrier {
  width: 200px;
  height: 40px;
  background-color: purple;
}

.c-display__ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: antiquewhite;
}

.destroyer--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 80px;
}

.submarine {
  background-color: red;
}

.submarine--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 120px;
}

.cruiser {
  background-color: yellow;
}

.cruiser--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 120px;
}

.battleship {
  background-color: pink;
}

.battleship--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 160px;
}

.carrier {
  background-color: purple;
}

.carrier--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 200px;
}
/*# sourceMappingURL=styles.css.map */