@import "reset";

.o-wrap { max-width: 800px; width: 80%; margin: 0 auto; }

.c-calc { padding: 20px; }

.c-calc__display { padding: 10px 5px; border: 1px solid grey; background-color: greenyellow; }

.c-calc_values__item { display: inline-block; width: 33%; }

.c-calc__wrapper { display: flex; }

.c-calc__wrapper__number { display: flex; flex-wrap: wrap; width: 80%; }
.c-calc__wrapper__number__item, .c-calc__wrapper__number__clear, .c-calc__wrapper__number__equals, .c-calc__wrapper__number__decimal, .c-calc__wrapper__number__backspace { width: 33.33%; padding: 10px 0; 
    &:hover { cursor: pointer; }
}

.c-calc__wrapper__operator { display: flex; flex-direction: column; width: 20%; background-color: aqua; }
.c-calc__wrapper__operator__item { height: 25%; }