/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.o-wrap {
  max-width: 600px;
  margin: 0 auto;
}

#header {
  width: 100%;
  background-color: #f4db69;
  margin-bottom: 40px;
}

.c-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-search__input {
  width: 40%;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}

.c-search__btn {
  margin: 0 20px;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fb8d76;
  color: #fff;
}

.c-search__btn:hover {
  cursor: pointer;
}

.c-current {
  padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff9e8;
}

.c-current__headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-current__list {
  display: inline-block;
  width: 49%;
  padding-right: 10px;
}

.c-current__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-current__list__item h4 {
  font-style: italic;
  font-weight: bold;
}

.c-current__list__item__value {
  text-align: end;
  color: #4b4737;
}

.c-current__info {
  display: inline-block;
  width: 49%;
  padding-left: 10px;
  vertical-align: top;
}

.c-current__info__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-current__info__list__item h4 {
  font-style: italic;
  font-weight: bold;
}

.c-current__info__list__item__value {
  text-align: end;
  color: #4b4737;
}
/*# sourceMappingURL=styles.css.map */