@import "reset.css";

:root {
    --font-size: 16px;
    --font-size-medium: 20px;
    --hspace: 20px;
    --vspace: 20px;
}

.o-wrap { max-width: 700px; margin: calc(var(--vspace) * 3) auto 0; }

.c-form { margin-bottom: calc(var(--vspace) * 2); border: 1px solid #000; border-radius: 5px; background-color: beige; }
.c-form__field { display: flex; flex-direction: column; padding: var(--vspace) var(--hspace); }
.c-form__field legend { padding-top: calc(var(--vspace) / 2); font-size: var(--font-size-medium); font-weight: bold; }
.c-form__field__container { width: 100%; margin-bottom: calc(var(--vspace) / 2) }
.c-form__field label { display: inline-block; width: calc(25% - var(--hspace)); margin-right: var(--hspace); font-weight: bold; vertical-align: top; }
.c-form__field input, .c-form__field textarea { width: calc(75% - var(--hspace)); }
.c-form__field__btn { width: 25%; }

.c-list { padding: var(--vspace) var(--hspace); border: 1px solid #000; border-radius: 5px; background-color: bisque; }
.c-list__headline { margin-bottom: var(--vspace); font-size: var(--font-size-medium); font-weight: bold; }

.c-list__item { margin: 20px 0px; padding: 10px 10px; border: 1px solid #000; border-radius: 3px; background-color: #fffff0; text-transform: capitalize; }
.c-list__item__title { font-weight: bold; margin-bottom: calc(var(--vspace) / 2);}
/* .c-list__item__todo {} */
.c-list__item__todo__property { line-height: 1.5; }
/* .c-list__item__btn {} */