@import "reset.css";

:root {
    --font-size: 16px;
    --font-size-medium: 20px;
    --hspace: 20px;
    --vspace: 20px;
}

/* body::before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; } */
body { transition: all .5s ease-in-out; }
body.isBlurred { filter: blur(2px); position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.o-wrap { max-width: 700px; margin: calc(var(--vspace) * 3) auto 0; }

.c-addBtn { margin-bottom: 50px; padding: var(--vspace) var(--hspace); font-weight: bold; font-size: var(--font-size-medium); text-transform: uppercase; background-color: greenyellow; border: 1px solid #000; border-radius: 3px; }
.c-addBtn:hover { cursor: pointer; }

.c-form { margin-bottom: calc(var(--vspace) * 2); border: 1px solid #000; border-radius: 5px; background-color: beige; visibility: hidden; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 5; transition: all .5s ease-in-out; }
.c-form.isActive { visibility: visible; opacity: 1; }
.c-form__field { display: flex; flex-direction: column; padding: var(--vspace) var(--hspace); }
.c-form__field legend { padding-top: calc(var(--vspace) / 2); font-size: var(--font-size-medium); font-weight: bold; }
.c-form__field__container { width: 100%; margin-bottom: calc(var(--vspace) / 2) }
.c-form__field label { display: inline-block; width: calc(25% - var(--hspace)); margin-right: var(--hspace); font-weight: bold; vertical-align: top; }
.c-form__field input, .c-form__field textarea { width: calc(75% - var(--hspace)); }
.c-form__field__btn { width: 25%; }

.c-list { padding: var(--vspace) var(--hspace); border: 1px solid #000; border-radius: 5px; background-color: bisque; }
.c-list__btn { background-color: rgb(255, 207, 117); border: 1px solid #000; border-radius: 3px; }
.c-list__btn:hover { cursor: pointer; background-color: orange; }
.c-list__headline { margin-bottom: var(--vspace); font-size: var(--font-size-medium); font-weight: bold; }

.c-list__item { margin: 20px 0px; padding: 10px 10px; border: 1px solid #000; border-radius: 3px; background-color: #fffff0; text-transform: capitalize; }
.c-list__item__title { font-weight: bold; margin-bottom: calc(var(--vspace) / 2);}
/* .c-list__item__todo {} */
.c-list__item__todo__card { margin: calc(var(--hspace) / 2) 0; padding: calc(var(--vspace) / 4) calc(var(--hspace) / 4); border: 1px solid #000; border-radius: 3px; }
.c-list__item__todo__card__property { line-height: 1.5; }
.c-list__item__todo__editBtn { background-color: rgb(161, 255, 161); border: 1px solid #000; border-radius: 3px; }
.c-list__item__todo__deleteBtn { background-color: rgb(253, 131, 131); border: 1px solid #000; border-radius: 3px; }
.c-list__item__todo__editBtn:hover { cursor: pointer; background-color: rgb(0, 255, 0); }
.c-list__item__todo__deleteBtn:hover { cursor: pointer; background-color: red; }